.consult {
	font-size: 28px;
	line-height: 23px;
	font-weight: 600;
	text-align: center;
	color: #3a3a3a;
	margin-top: 50px;
}

.contact-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 166px;
	border: solid 1px #c4c4c4;
	margin-top: 75px;

	&__icon {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 102px;
		height: 102px;
		border: solid 1px #e93b3b;
		background-color: #ffffff;
		box-shadow: 0 0 0 10px rgb(255, 255, 255);
		border-radius: 100%;
		margin-top: -86px;
		img {
			max-width: 100%;
			animation-name: consu;
			animation-duration: 2s;
			animation-timing-function: ease;
			animation-iteration-count: infinite;
		}
	}

	input {
		width: 268px;
		height: 45px;
		border: solid 1px rgba(0, 0, 0, 0.21);
		border-radius: 30px;
		margin-left: 6px;
		padding-left: 28px;
	}
}