.job {
	padding: 51px 0 57px 0;
}
.job-block {
    &__wrapper {
        img {
            width: 100%;
            margin-top: 37px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 900;
        text-align: center;
        color: #ec644b;
        margin-top: 28px;
    }

    &__descr {
        font-size: 14px;
        font-weight: 300;
        text-align: justify;
        line-height: 22px;
        color: #3a3a3a;
    }
}