.main-menu {
	padding-top: 23px;
	&__logo img {
		height: 99px;
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		padding: 0px;
		margin: 0;
		margin-left: 60px;
		list-style-type: none;
	}

	&__item {
		border-right: 1px dotted #fff;
		padding-right: 15px;

		&:last-child {
			border-right: none;
		}
	}

	&__link {
		font-size: 15px;
		line-height: 17px;
		font-weight: 300;
		color: #fff;
	}

	&__call {
		text-align: right;
		line-height: 24px;
	}

	&__question {
		font-size: 14px;
		font-weight: 300;
		color: #fff;
	}

	&__phone {
		font-size: 19px;
		font-weight: bold;
		color: #fff;
	}

}

