.title {
	font-size: 26px;
	font-weight: 900;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
	color: #2e2e2e;
}

.line {
	display: block;
	margin: 21px auto;
	width: 148px;
	height: 1px;
	background-color: #ec644b;
}

.subtitle {
	font-weight: 300;
	line-height: 24px;
	font-size: 21px;
	text-align: center;
	color: #2e2e2e;
	margin-top: 14px;
}