@media (max-width: 1200px) {
	.main-menu {
		&__logo img {
			height: 80px;
		}

		&__menu {
			margin-left: 45px;
		}

		&__item {
			padding-right: 10px;
		}

		&__link {
			font-size: 14px;
		}

		&__phone {
			font-size: 16px;
		}

		.button {
			width: 140px;
		}
	}

	.promo {
		&__title {
			font-size: 22px;
			line-height: 22px;
		}

		&__descr {
			font-size: 60px;
			line-height: 40px;
		}

		&__subtitle {
			font-size: 35px;
			line-height: 35px;
		}
	}

	.button_main {
		width: 200px;
	}

	.carousel {
		.slick-prev {
			left: 38%;
		}

		.slick-next {
			right: 38%;
		}
	}
}

@media (max-width: 991px) {
	.main-menu {
		&__logo img {
			height: 60px;
		}

		&__menu {
			margin-left: 20px;
		}

		&__item {
			padding-right: 5px;
		}

		&__link {
			display: flex;
			font-size: 12px;
		}

		&__question {
			font-size: 12px;

		}

		&__phone {
			font-size: 11px;
		}

		.button {
			width: 100px;
			font-size: 10px;

		}
	}

	.promo {
		&__subtitle {
			font-size: 25px;
			line-height: 35px;
		}

		&__title {
			margin-top: 110px;
			font-size: 19px;
			line-height: 19px;
		}

		&__descr {
			font-size: 45px;
			line-height: 35px;
		}
	}

	.button_main {
		width: 150px;
		line-height: 16px;
		font-size: 13px;
	}

	.price {
		&__title {
			font-size: 14px;
		}

		&__subtitle {
			font-size: 12px;

		}

		&__price-tag {
			font-size: 20px;

		}

		&__descr {
			padding: 0 3px;
			font-size: 13px;
			font-weight: 300;
			line-height: 15px;
			color: #2e2e2e;
			align-items: center;

		}

		.button_price {
			margin-bottom: 10px;
			width: 120px;
			height: 35px;
			font-size: 12px;
		}
	}

	.carousel {
		.slick-prev {
			left: 35%;
		}

		.slick-next {
			right: 35%;
			left: auto;
		}

		&__descr {
			padding: 0 30px;
			font-size: 13px;
		}
	}

	.contact-form {
		input {
			width: 206px;
			margin-left: 6px;
			padding-left: 28px;
		}

		textarea {
			width: 629px;
		}
	}

	.footer-info {
		&__text {
			font-size: 13px;
		}
	}
}

@media (max-width: 767px) {
	.main-menu {
		&__menu {
			z-index: 1;
			position: fixed;
			flex-direction: column;
			justify-content: center;
			top: 0;
			left: -100%;
			width: 50%;
			height: 100vh;
			padding: 20px 15px;
			margin-left: 0;
			background-color: rgba(0, 0, 0, .8);
			transition: 0.6s all;
		}

		&_active {
			left: 0;
		}

		&__item {
			border: none;
		}

		&__link {
			padding: 10px 0;
			margin: 10px 0;
			font-size: 20px;
		}

	}

	.hamburger {
		display: block;
		position: absolute;
		margin-top: 48px;
		right: 35px;
		width: 26px;

		span {
			display: block;
			height: 2px;
			width: 100%;
			background-color: #fff;
			margin-bottom: 2px;
			transition: 0.5s all;
		}

		&_active {
			span {
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
					margin-bottom: -2px;
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
				}

			}
		}


	}

	.button_main {
		margin: 22px;
	}

	.contact-form {
		input {
			width: 150px;
			font-size: 12px;
		}

		textarea {
			width: 450px;
			font-size: 12px;
			padding: 26px 0 0 26px;


		}
	}

	.footer-info {
		&__text {
			font-size: 12px;
		}

		&__end {
			height: 120px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

@media (max-width: 575px) {
	.main-menu {
		&__logo img {
			height: 50px;
		}

		&__call {
			font-size: 10px;
		}

		.button {
			display: none;
		}
	}

	.promo__descr {
		line-height: 50px;
	}
	.contact-form {
		position: relative;
		flex-direction: column;
		min-height: 400px;

		&__icon {
			top: 40px;
		}

		input {
			margin: 0 auto;
			width: 200px;
			margin-top: 20px;
		}

		textarea {
			width: 205px;
			margin-top: 20px;
		}

		.button_contact-form {
			bottom: -30px;
			margin-top: 5px;
		}

	}

	.button_questions {
		margin-top: 20px;

	}

	.footer-info {
		&__text {
			display: none;
		}
	}
}